/* ICTML CSS */

/* Header padding */
h1, h2, h3, h4 {
  /* begin on new line */
  clear: both; 
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

h2, h3, h4 {
  padding-top: 1em;
}

/* Header sizes */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 0.333em;  
}

.navbar-logo {
  max-height: 48px;
}

/* Container of h3 imgtxt + text */
.h3container h3 {
  margin-left: 9px;
}

.h3container p {
  margin-left: 9px;
}

/* Image + text container */
.imgtxt {
  display: block;
  /* padding: 1px; */
  margin-bottom: 1rem;
  overflow: hidden;
}

.imgtxt p {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Images */

/* Center-aligned image 50% page width */
.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66.6%;
  overflow: hidden;
}

/* Caption for above image left aligned */
dt + dd {
  text-align: left;
  max-width: 66.6%;
  margin: 0 auto;
  /* alpha 75% */
  opacity: 0.666;
  font-style: italic;
}

/* Left-aligned image with text wrap on right */
.left-aligned-img {
  display: block;
  float: left;
  margin-top: 0.2rem;
  /* margin-left: 9px; */
  margin-right: 1rem;
  /* margin-bottom: 0.5rem; */
  width: 33%;
  /* overflow: hidden; */
}

/* Invertable image transparency */
.invertable {
  /* Make 75% transparent */
  opacity: 0.75;
}
